<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311956579675-arfufcsof1suvthfqpg61q6rueanmg9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311956579675-arfufcsof1suvthfqpg61q6rueanmg9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>311956579675-i4j6plvkcanicnitbuhk0sk4jr4708fl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDR7DzV798f8gc-M48lDJS9ft2oGu8uZpc</string>
	<key>GCM_SENDER_ID</key>
	<string>311956579675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daakesh</string>
	<key>PROJECT_ID</key>
	<string>daakesh-af3a0</string>
	<key>STORAGE_BUCKET</key>
	<string>daakesh-af3a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311956579675:ios:f04d0a7e63535fc7dc267e</string>
</dict>
</plist>