<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311956579675-30g8hqea1lp74m03l4ndshg83ukvnvl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311956579675-30g8hqea1lp74m03l4ndshg83ukvnvl7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>311956579675-3kmh6vu4fursj3hit1m9rng1vrplfchs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDR7DzV798f8gc-M48lDJS9ft2oGu8uZpc</string>
	<key>GCM_SENDER_ID</key>
	<string>311956579675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daakesh.app</string>
	<key>PROJECT_ID</key>
	<string>daakesh-af3a0</string>
	<key>STORAGE_BUCKET</key>
	<string>daakesh-af3a0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311956579675:ios:b1ce4895be08f7d5dc267e</string>
</dict>
</plist>